.portfolio__intro {
    text-align: center;
}

.portfolio__intro h3 {
    margin: 1rem;
    color: var(--color-light)
}

.portfolio__intro p {
    margin-bottom: 3rem;
    text-align: center;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    height: 100vh;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1rem 0;
}

.portfolio_tech_stack {
    display: flex;
    flex-wrap: wrap;

}

.portfolio_tech_stack li {
    /* flex-wrap: wrap; */
    color: var(--color-white);
    border: 1px solid var(--color-light);
    border-radius: 5px;
    padding: 0.25rem;
    margin: 0.25rem 0.2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.project__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project__button {
    background: none;
    color: var(--color-primary);
    padding: 5px;
    font-weight: bold;
}

.project__button:hover {
    top: 100px;
    cursor: pointer;
    text-decoration: underline;
}

.portfolio_title_note {
    color: var(--color-light);
}


/* ============== MEDIA QUERIES (MEDIUM DEVICES) ================ */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }


 }

 /* ============== MEDIA QUERIES (SMALL DEVICES) ================ */
 @media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

 }
