#about h1,
#about h4 {
    text-align: center;
}

.about-title {
    color: var(--color-primary);
}

.about__container {
    display: grid;
    grid-template-columns: 35% 55%;
    gap: 10%;
}

.about__me {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}


.about__me.image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    /* transform-origin: center; */
    transition: var(--transition);
    width: 100%;
}

.about__me.image:hover {
    transform: rotate(0deg);
}


.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__content p {
    margin: 1rem 0 2.6rem;
    color: var(--color-light);
}

.about__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ================ */
@media screen and (max-width: 1024px) {
   .about__container {
    grid-template-columns: 1fr;
    gap: 0;
   }

   .about__me {
    width: 50%;
    margin: 2rem auto;
    ;

   }

   .about__content {
    text-align: center;
}

   .about__content p {
    margin: 1rem 0 1.5rem;
   }

   .about__me.image {
    width: 100%;
}

}

/* ============== MEDIA QUERIES (SMALL DEVICES) ================ */
@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
}
