footer {
    background: var(--color-primary);
    padding: 3rem 0;
    /* text-align: center; */
    font-size: 0.9rem;
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;

}

footer a {
    color: var(--color-bg);
    padding: 1rem;
    font-size: 1rem;
}

.permalinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;

}


.footer__contact {
    margin: 0 2rem;
    text-align: center;

}

.footer__contact p {
    color: var(--color-bg-variant);
    /* text-decoration: underline; */
    font-weight: bold;
}

 /* ============== MEDIA QUERIES (MEDIUM DEVICES) ================ */

@media screen and (max-width: 1024px) {
    footer {
        width: 100%;
        /* flex-direction: column; */
    }

    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__contact p {
        margin-top: 2rem;
        font-size: 1.25rem;
    }

    .footer__contact a {
        display: flex;
        flex-direction: column;

    }

 }

 /* ============== MEDIA QUERIES (SMALL DEVICES) ================ */
 @media screen and (max-width: 600px) {
    footer {
        width: 100%;
        flex-direction: column;
    }

    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__contact p {
        margin-top: 2rem;
        font-size: 1.25rem;
    }

    .footer__contact a {
        display: flex;
        flex-direction: column;

    }

 }
