nav {
    padding-right:  1.7rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
}


.nav-link {
    background: transparent;
    padding: 0.9rem;
    display: flex;
    align-items: center;
    color: var(--color-light);
    font-size: 1.1rem;
}

  .nav-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .nav-right {
    display: flex;
    align-items: center;
  }

  .nav-right a {
    padding: 1.4rem 0.9rem;
}

.nav-link p {
    margin: .5rem;
}

.nav-link:hover {
    background: rgba(0, 0, 0, 0.3);
}

.nav-link.active {
    background: var(--color-bg);
    color: var(--color-white);
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ================ */
@media screen and (max-width: 1024px) {
    .nav-link p {
        display: none;
    }
 }

 /* ============== MEDIA QUERIES (SMALL DEVICES) ================ */
 @media screen and (max-width: 600px) {
    .nav-link p {
        display: none;
    }

 }
